* {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: cadetblue;
    height: 4rem;
    width: 100%;
}

.body {
    display: flex;
}

.collections {
    background-color: deeppink;
    width: 15rem;
}

.books {
    background-color: sienna;
    width: 100%;
}