* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    background-color: cadetblue;
    height: 4rem;
    width: 100%;
    padding-left: 10px;
}

.body {
    display: flex;
}

.collections {
    background-color: lavenderblush;
    width: 15rem;
    padding: 10px;
}

.collection-card {
    background-color: #00d9ff;
    color: #10055c;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.collection-card:hover {
    scale: 105%;
}

.collections-list {
    margin-top: 10px;
}

.books {
    background-color: sienna;
    width: 100%;
}

.books-header {
    margin: 10px;
}

.add-book {
    margin-top: 10px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
}

.book-list-item {
    list-style-type: none;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #10055c;
    color: #00d9ff;
    margin: 10px;
    padding: 15px;
    width: 10rem;
    height: 20rem;
}

.book-info {
}

.buttons {
    margin-right: 5px;
    padding: 8px;
    background-color: #10055c;
    color: #00d9ff;
    border: #00d9ff;
    border-style: dashed;
}

.buttons:hover {
    background-color: #00d9ff;
    color: #10055c;
}
